.rooms-wrapper {
  .create-room {
    margin-bottom: 1rem;
  }

  .btn {
    line-height: normal;
  }

  form {
    display: flex;
    flex-direction: row;
    grid-gap: 10px;

    @media (max-width: 700px) {
      flex-direction: column;

      .form-group {
        margin-bottom: 10px;
      }
    }

    .form-group, input[type='submit'] {
      margin-top: 0px;
    }
  }

  .room-item {
    position: relative;
    display: flex;
    grid-gap: 10px;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem;

    .column {
      width: 140px;

      strong {
        opacity: 0.9;
      }

      img {
        width: 2rem;
      }

      &.column-one {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 180px;

        h1 {
          font-size: 20px;
          opacity: 0.9;
        }
        .row-one {
          display: flex;
          justify-content: space-between;

          .count {
            font-weight: bold;
            opacity: 0.9;
          }
        }
      }
    }

    .action-buttons-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;


      .btn {
        text-align: center;
        line-height: normal;
      }
    }

    @media (max-width: 700px) {
      flex-direction: column;

      .column, .column.column-one {
        grid-gap: 10px;
        width: 100%;
      }
    }
  }
}